# 코로나 시각화 프로젝트2

In [1]:
import requests, bs4
import pandas as pd
from lxml import html
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus, unquote

# 1. URL 파라미터 분리하기.
# Service URL
xmlUrl = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19SidoInfStateJson'

My_API_Key = 'l/Lr1TuFx7dvCcJ/5kjof0S/Kf6LDRKSqzWvRWqP6QL2zCphYijhN9gTpe1UnI4J2DPTTFZM+ud7wT7zBv/OsQ=='

queryParams = '?' + urlencode(    # get 방식으로 쿼리를 분리하기 위해 '?'를 넣은 것이다. 메타코드 아님.
    {
        quote_plus('ServiceKey') : My_API_Key,    # 필수 항목 1 : 서비스키 (본인의 서비스키)
        quote_plus('startCreateDt') : '20200310',          # 필수 항목 2 : 데이터 생성일 시작범위
        quote_plus('endCreateDt') : '20211031'         # 픽수 항목 3 : 데이터 생성일 종료범위
     }
)

response = requests.get(xmlUrl + queryParams).text.encode('utf-8')
xmlobj = bs4.BeautifulSoup(response, 'lxml-xml')
# xmlobj 디버깅용

# item태그로 분리

In [2]:
rows = xmlobj.findAll('item')
rows[0]

<item><createDt>2021-10-31 09:24:32.643</createDt><deathCnt>16</deathCnt><defCnt>6282</defCnt><gubun>검역</gubun><gubunCn>隔離區</gubunCn><gubunEn>Lazaretto</gubunEn><incDec>4</incDec><isolClearCnt>6147</isolClearCnt><localOccCnt>0</localOccCnt><overFlowCnt>4</overFlowCnt><qurRate>-</qurRate><seq>13005</seq><stdDay>2021년 10월 31일 00시</stdDay><updateDt>null</updateDt></item>

In [3]:
columns = rows[0].find_all()
columns

[<createDt>2021-10-31 09:24:32.643</createDt>,
 <deathCnt>16</deathCnt>,
 <defCnt>6282</defCnt>,
 <gubun>검역</gubun>,
 <gubunCn>隔離區</gubunCn>,
 <gubunEn>Lazaretto</gubunEn>,
 <incDec>4</incDec>,
 <isolClearCnt>6147</isolClearCnt>,
 <localOccCnt>0</localOccCnt>,
 <overFlowCnt>4</overFlowCnt>,
 <qurRate>-</qurRate>,
 <seq>13005</seq>,
 <stdDay>2021년 10월 31일 00시</stdDay>,
 <updateDt>null</updateDt>]

In [4]:
# 리스트 조회해보기
columns[0].name

'createDt'

In [5]:
columns[0].text

'2021-10-31 09:24:32.643'

# 반복문으로 만들기

In [6]:
# 모든 행과 열의 값을 모아 매트릭스로 만들어보자.
rowList = []
nameList = []
columnList = []

rowsLen = len(rows)
for i in range(0, rowsLen):
    columns = rows[i].find_all()
    
    columnsLen = len(columns)
    for j in range(0, columnsLen):
        # 첫 번째 행 데이터 값 수집 시에만 컬럼 값을 저장한다. (어차피 rows[0], rows[1], ... 모두 컬럼헤더는 동일한 값을 가지기 때문에 매번 반복할 필요가 없다.)
        if i == 0:
            nameList.append(columns[j].name)
        # 컬럼값은 모든 행의 값을 저장해야한다.    
        eachColumn = columns[j].text
        columnList.append(eachColumn)
    rowList.append(columnList)
    columnList = []    # 다음 row의 값을 넣기 위해 비워준다. (매우 중요!!)
    
result = pd.DataFrame(rowList, columns=nameList)
result.head()

,createDt,deathCnt,defCnt,gubun,gubunCn,gubunEn,incDec,isolClearCnt,localOccCnt,overFlowCnt,qurRate,seq,stdDay,updateDt
0,2021-10-31 09:24:32.643,16,6282,검역,隔離區,Lazaretto,4,6147,0,4,-,13005,2021년 10월 31일 00시,null
1,2021-10-31 09:24:32.643,2,3100,제주,济州,Jeju,1,3037,1,0,460,13004,2021년 10월 31일 00시,null
2,2021-10-31 09:24:32.642,41,13008,경남,庆南,Gyeongsangnam-do,61,12427,61,0,389,13003,2021년 10월 31일 00시,null
3,2021-10-31 09:24:32.642,95,9709,경북,庆北,Gyeongsangbuk-do,56,9224,56,0,368,13002,2021년 10월 31일 00시,null
4,2021-10-31 09:24:32.642,22,3543,전남,全南,Jeollanam-do,30,3382,30,0,191,13001,2021년 10월 31일 00시,null

In [7]:
result.drop(['gubunCn', 'gubunEn', 'updateDt', 'stdDay'], axis=1, inplace=True)
result.head()

,createDt,deathCnt,defCnt,gubun,incDec,isolClearCnt,localOccCnt,overFlowCnt,qurRate,seq
0,2021-10-31 09:24:32.643,16,6282,검역,4,6147,0,4,-,13005
1,2021-10-31 09:24:32.643,2,3100,제주,1,3037,1,0,460,13004
2,2021-10-31 09:24:32.642,41,13008,경남,61,12427,61,0,389,13003
3,2021-10-31 09:24:32.642,95,9709,경북,56,9224,56,0,368,13002
4,2021-10-31 09:24:32.642,22,3543,전남,30,3382,30,0,191,13001

In [15]:
result.to_csv("covid19.csv", mode='w')

In [37]:
a = result[result['gubun']=='서울']
a = a.drop(['gubun', 'seq'], axis=1)
a.to_csv("covid서울.csv", mode='w')

In [19]:
len(result['gubun'].unique())

19

In [9]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
db_connection_str = 'mysql+pymysql://root:root@localhost/covid'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [10]:
result.to_sql(name='COVID2', con=db_connection, if_exists='append',index=False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '13005' for key 'covid2.PRIMARY'")
[SQL: INSERT INTO `COVID2` (`createDt`, `deathCnt`, `defCnt`, gubun, `incDec`, `isolClearCnt`, `localOccCnt`, `overFlowCnt`, `qurRate`, seq) VALUES (%(createDt)s, %(deathCnt)s, %(defCnt)s, %(gubun)s, %(incDec)s, %(isolClearCnt)s, %(localOccCnt)s, %(overFlowCnt)s, %(qurRate)s, %(seq)s)]
[parameters: ({'createDt': '2021-10-31 09:24:32.643', 'deathCnt': '16', 'defCnt': '6282', 'gubun': '검역', 'incDec': '4', 'isolClearCnt': '6147', 'localOccCnt': '0', 'overFlowCnt': '4', 'qurRate': '-', 'seq': '13005'}, {'createDt': '2021-10-31 09:24:32.643', 'deathCnt': '2', 'defCnt': '3100', 'gubun': '제주', 'incDec': '1', 'isolClearCnt': '3037', 'localOccCnt': '1', 'overFlowCnt': '0', 'qurRate': '460', 'seq': '13004'}, {'createDt': '2021-10-31 09:24:32.642', 'deathCnt': '41', 'defCnt': '13008', 'gubun': '경남', 'incDec': '61', 'isolClearCnt': '12427', 'localOccCnt': '61', 'overFlowCnt': '0', 'qurRate': '389', 'seq': '13003'}, {'createDt': '2021-10-31 09:24:32.642', 'deathCnt': '95', 'defCnt': '9709', 'gubun': '경북', 'incDec': '56', 'isolClearCnt': '9224', 'localOccCnt': '56', 'overFlowCnt': '0', 'qurRate': '368', 'seq': '13002'}, {'createDt': '2021-10-31 09:24:32.642', 'deathCnt': '22', 'defCnt': '3543', 'gubun': '전남', 'incDec': '30', 'isolClearCnt': '3382', 'localOccCnt': '30', 'overFlowCnt': '0', 'qurRate': '191', 'seq': '13001'}, {'createDt': '2021-10-31 09:24:32.642', 'deathCnt': '66', 'defCnt': '5187', 'gubun': '전북', 'incDec': '21', 'isolClearCnt': '4824', 'localOccCnt': '21', 'overFlowCnt': '0', 'qurRate': '288', 'seq': '13000'}, {'createDt': '2021-10-31 09:24:32.642', 'deathCnt': '59', 'defCnt': '10600', 'gubun': '충남', 'incDec': '62', 'isolClearCnt': '9835', 'localOccCnt': '62', 'overFlowCnt': '0', 'qurRate': '500', 'seq': '12999'}, {'createDt': '2021-10-31 09:24:32.642', 'deathCnt': '83', 'defCnt': '7900', 'gubun': '충북', 'incDec': '27', 'isolClearCnt': '7364', 'localOccCnt': '27', 'overFlowCnt': '0', 'qurRate': '493', 'seq': '12998'}  ... displaying 10 of 11419 total bound parameter sets ...  {'createDt': '2020-03-10 09:00:00.000', 'deathCnt': '0', 'defCnt': '4', 'gubun': '제주', 'incDec': '0', 'isolClearCnt': '1', 'localOccCnt': '0', 'overFlowCnt': '0', 'qurRate': '0.60', 'seq': '952'}, {'createDt': '2020-03-10 09:00:00.000', 'deathCnt': '0', 'defCnt': '0', 'gubun': '검역', 'incDec': '0', 'isolClearCnt': '0', 'localOccCnt': '0', 'overFlowCnt': '0', 'qurRate': '0.00', 'seq': '951'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)